.App {
  max-width: 860px;
  margin: 40px auto;

}

button{
  width: 150px;
  padding: 7px ;
  background: none;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #00a0ef;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 0 6px 3px #0abae3
}

button:hover {
  background: #176AD4;
  color: #fff;
}
img{
  width: 230px;
  height: 200px;
}

.card_grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}